[flake8]
max-line-length = 120
max-complexity = 38
select = C,E,F,W,B,B950
per-file-ignores =
    # imported but unused
    __init__.py: F401
extend-exclude =
    */alembic/*
    shared/*
    ./.venv/*
    ./code/idea/src/configs/translations/*
ignore = E203,E501,W503,B008